<br>
<div class="row">
    <div class="col-3">
        <app-side-nouns>
        </app-side-nouns>
    </div>

    <div class="col">
        <section class="d-flex align-items-center justify-content-center" *ngIf="_nounCategories?.length > 0"
            [ngSwitch]="page">
            <!-- accueil noun -->
            <div *ngSwitchCase="'intro'">
                <br>
                <div class="row d-flex justify-content-center">
                    <div class="card gray">
                        <br>
                        <div class="row mx-5 d-flex justify-content-center">
                            <img src="../../../../assets/images/Matryoshka.png" alt="Matryoshka"
                                style="width:100%;height:100%;">
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="'declension'">
                <div *ngFor="let i of declensionIds">
                    <div *ngIf="!!category && category.id === i">
                        <app-declension [category]="category"></app-declension>
                    </div>
                </div>
            </div>

            <div *ngSwitchCase="'consult'">
                <app-noun-list></app-noun-list>
            </div>

            <div *ngSwitchCase="'check'">
                <app-declension-noun [category]="category"></app-declension-noun>
            </div>

            <div *ngSwitchCase="'not-found'">
                <app-noun-not-found></app-noun-not-found>
            </div>

            <div *ngSwitchCase="'add'">
                <app-add-noun></app-add-noun>
            </div>

            <div *ngSwitchCase="'link'">
                <app-link></app-link>
            </div>
        </section>
    </div>

    <div class="col-3">
        <app-action-menu *ngIf="page !== 'declension' && displayActionMenu()">
        </app-action-menu>
    </div>
</div>