<br>
<div class="row">
    <div class="col-3">
        <app-side-nouns>
        </app-side-nouns>
    </div>

    <div class="col">
        <section class="d-flex align-items-center justify-content-center" *ngIf="_nounCategories?.length > 0"
            [ngSwitch]="page">
            <div *ngSwitchCase="'intro'">
                <br>
                {{ 'nouns.text' | translate }}
            </div>

            <div *ngSwitchCase="'declension'">
                <br>
                <div *ngFor="let i of declensionIds">
                    <div *ngIf="!!category && category.id === i">
                        <app-declension [category]="category"></app-declension>
                    </div>
                </div>
            </div>

            <div *ngSwitchCase="'consult'">
                <br>
                <app-noun-list></app-noun-list>
                <br>
            </div>
            <div *ngSwitchCase="'check'">
                <br>
                <app-declension-noun [category]="category"></app-declension-noun>
                <br>
            </div>
            <div *ngSwitchCase="'not-found'">
                <br>
                <app-noun-not-found></app-noun-not-found>
                <br>
            </div>
            <div *ngSwitchCase="'add'">
                <app-add-noun></app-add-noun>
            </div>
        </section>
    </div>

    <div class="col-3">
        <app-action-menu *ngIf="page !== 'declension' && displayActionMenu()">
        </app-action-menu>
    </div>
</div>