<br>
<div class="row d-flex justify-content-center">
    <div class="col-9">
        <p-card [style]="{'background-color': '#f8f9fa'}">
            <div class="row">
                <div class="col-3">
                    <label for="russianCase">{{ 'training.russianCase' | translate }}</label>
                    <input *ngIf="!!russianCase" class="form-control" type="text" id="russianCase"
                        [ngModel]="printCase(russianCase.id)" disabled>
                </div>
                <div class="col-3">
                    <label for="adjective">{{ 'training.adjective' | translate }}</label>
                    <input *ngIf="!!adjective" class="form-control" type="text" id="adjective"
                        [ngModel]="adjective.translation" disabled>
                </div>
                <div class="col-3">
                    <label for="noun">{{ 'training.noun' | translate }}</label>
                    <input *ngIf="!!noun" class="form-control" type="text" id="noun" [ngModel]="noun.translation"
                        disabled>
                </div>
                <div class="col-3 justify-content-center d-flex align-items-center">
                    <button pButton class="p-button-outlined p-button-raised p-button-rounded" icon="pi pi-replay"
                        (click)="onNew()" [disabled]="hasPlayed"></button>
                </div>
            </div>
        </p-card>
    </div>
</div>
<br>
<div class="row d-flex justify-content-center">
    <div class="col-9">
        <p-card [style]="{'background-color': '#f8f9fa'}">
            <form [formGroup]="answerForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-3">
                        <label for="context">{{ 'training.context' | translate }}</label>
                        <input *ngIf="!!russianCase" class="form-control" type="text" id="context"
                            formControlName="context">
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="adjective-answer">{{ 'training.adjective' | translate }}</label>
                            <select class="form-control" formControlName="adjective" id="adjective-answer">
                                <option></option>
                                <option *ngFor="let adjectiveCase of casesOfAdjective" [value]="adjectiveCase">
                                    {{ adjectiveCase }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="noun-answer">{{ 'training.noun' | translate }}</label>
                            <select class="form-control" formControlName="noun" id="noun-answer">
                                <option></option>
                                <option *ngFor="let nounCase of casesOfNoun" [value]="nounCase">
                                    {{ nounCase }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center justify-content-center">
                        <button pButton type="submit" [disabled]="answerForm.invalid || hasPlayed"
                            class="p-button-outlined p-button-raised p-button-rounded" icon="pi pi-check"></button>
                    </div>
                </div>
            </form>
        </p-card>
    </div>
</div>
<br>
<div class="row d-flex justify-content-center">
    <div class="col-9">
        <p-card *ngIf="!!adjectiveAnswer && !!nounAnswer" [style]="{'background-color': '#f8f9fa'}">
            <div class="row">
                <div class="col-2">
                    <a href="https://en.wikipedia.org/wiki/Alexander_Pushkin" target="_blank">
                        <img *ngIf="(!adjectiveCorrect && nounCorrect) || (adjectiveCorrect && !nounCorrect)"
                            src="../../../../../../assets/images/pouchkine.png" alt="Pushkin" title="Pushkin"
                            style="width:150%;height:100%;">
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Sergei_Korolev" target="_blank">
                        <img *ngIf="adjectiveCorrect && nounCorrect" src="../../../../../../assets/images/korolev.png"
                            alt="Korolev" title="Korolev" style="width:150%;height:100%;">
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Joseph_Stalin" target="_blank">
                        <img *ngIf="!adjectiveCorrect && !nounCorrect" src="../../../../../../assets/images/staline.png"
                            alt="Staline" title="Staline" style="width:150%;height:100%;">
                    </a>
                </div>
                <div class="col">
                    <br>
                    <h4 class="d-flex justify-content-center">
                        <span [ngClass]="{'green': adjectiveCorrect, 'red': !adjectiveCorrect}">{{ adjectiveAnswer
                            }}</span>
                        &nbsp;
                        <span [ngClass]="{'green': nounCorrect, 'red': !nounCorrect}">{{ nounAnswer }}</span>
                    </h4>
                </div>
                <div class="col-3">
                    <br>
                    <div class="d-flex justify-content-center">
                        <button pButton class="p-button-outlined p-button-raised p-button-rounded"
                            icon="pi pi-arrow-right" (click)="onNext()"></button>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
</div>
<br>