<br>
<div class="row">
    <div class="col-3">
        <app-side-training>
        </app-side-training>
    </div>
    <div class="col">
        <section [ngSwitch]="page">
            <div *ngSwitchCase="'intro'" class="d-flex align-items-center justify-content-center">
                <br>
                {{ 'training.intro' | translate }}
            </div>
            <div *ngSwitchCase="'preparation'">
                <app-preparation>
                </app-preparation>
            </div>
            <div *ngSwitchCase="'test'">
                <app-test>
                </app-test>
            </div>
        </section>
    </div>
    <div class="col-3">

    </div>
</div>
<br>