<br>
<div class="row">
    <div class="col-3">
        <app-side-training>
        </app-side-training>
    </div>
    <div class="col">
        <section [ngSwitch]="page">
            <div *ngSwitchCase="'intro'">
                <div class="row d-flex justify-content-center">
                    <img src="../../../../assets/images/tank.png" alt="Country" style="width:80%;height:80%;">
                </div>
            </div>
            <div *ngSwitchCase="'check'">
                <app-preparation>
                </app-preparation>
            </div>
            <div *ngSwitchCase="'visual'">
                <app-visual-test>
                </app-visual-test>
            </div>
            <div *ngSwitchCase="'written'">
                <app-written-test>
                </app-written-test>
            </div>
        </section>
    </div>
    <div class="col-3">
        <div *ngIf="page === 'written'" class="d-flex align-items-center justify-content-center">
            <app-history>
            </app-history>
        </div>
    </div>
</div>
<br>