<div *ngIf="actualise()"></div>
<p-megaMenu [model]="items">
    <table>
        <td>
            &nbsp;
        </td>
        <td
            [ngClass]="{'french': isLanguage('fr'), 'english': isLanguage('en'), 'spanish': isLanguage('es'), 'flag-config': true}">
        </td>
        <td>
            <select #langselect class="form-control" (change)="translate.use(langselect.value)" id="select"
                title="Langue de l'application">
                <option *ngFor="let lang of translate.getLangs()" [value]="lang"
                    [selected]="lang === translate.currentLang">
                    {{ 'navbar.language.' + lang | translate }}
                </option>
            </select>
        </td>
        <td>
            &nbsp;
        </td>
    </table>
</p-megaMenu>