<div class="row">
    <div class="col-3 d-flex justify-content-center">
        <div class="logo logo-config cursor" (click)="redirectToWelcome()"></div>
        <span class="d-flex align-items-center blue-cursor times-new-roman" (click)="redirectToWelcome()">
            &nbsp; <h3>{{ 'home.name' | translate }}</h3>
        </span>
    </div>
    <div class="col d-flex justify-content-center">
        <table>
            <p-tabMenu [model]="menu" [activeItem]="activeMenu(menu)"></p-tabMenu>
        </table>
    </div>
    <div class="col-3 d-flex justify-content-center">
        <app-language-select></app-language-select>
    </div>
</div>
<br>