<br>
<div class="card">
    <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="5" selectionMode="single"
        [(selection)]="rowSelected" dataKey="id" (onRowSelect)="onRowSelect()" (onRowUnselect)="onRowUnselect()">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col">
                    <div class="d-flex justify-content-center">
                        {{ 'adjectives.adjectives.' + col | translate }} <p-sortIcon [field]="col"></p-sortIcon>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                    <div class="d-flex justify-content-center">
                        {{ rowData[col] }}
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<br>
<div *ngIf="displayDeclension">
    <app-declension-category [adjectiveCategory]="adjectiveCategory">
    </app-declension-category>
    <br>
</div>