<br>

<div class="d-flex justify-content-center">
  <p-card [style]="{'background-color': '#f8f9fa'}">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

      <div>
        <div class="form-group">
          <label for="login">{{ 'account.login' | translate }}</label>

          <div class="row">
            <div class="col-6">
              <input type="text" class="form-control"
                [ngClass]="{ 'is-invalid': checkAvailable() && loginStatus === 'taken', 'is-valid': checkAvailable() && loginStatus === 'available' }"
                id="login" formControlName="login" />
              <div *ngIf="checkAvailable() && loginStatus === 'taken'" class="invalid-feedback">
                {{ 'account.existingLogin' | translate }}
              </div>
              <div *ngIf="checkAvailable() && loginStatus === 'available'" class="valid-feedback">
                {{ 'account.availableLogin' | translate }}
              </div>
            </div>
            <div class="col">
              <div *ngIf="checkAvailable()" class="btn btn-outline-primary" (click)="checkPlayerByLogin()">
                {{ 'account.check' | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <label for="avatar">{{ 'account.avatar' | translate }}</label>
      <div id="avatar">

        <table>
          <tr *ngFor="let i of [0, 5, 10, 15]">
            <td *ngFor="let j of [0, 1, 2, 3, 4]">
              <div *ngIf="!!_images[i+j]"
                [ngClass]="{'btn': true, 'btn-outline-primary': !imgIdEquals(i+j+1) , 'btn-primary': imgIdEquals(i+j+1) }"
                (click)="selectImg(i+j+1)">
                <img [src]="_images[i+j].value" [alt]="_images[i+j].id" width="50" height="50">
              </div>
            </td>
          </tr>
        </table>

      </div>

      <br>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="password">{{ 'account.password' | translate }}</label>
            <input type="password" class="form-control" [ngClass]="{
                      'is-valid': !userForm.get('passwordConfirmation').errors
                    }" id="password" formControlName="password" />
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label for="passwordConfirmation">{{ 'account.passwordConfirmation' | translate }}</label>
            <input type="password" class="form-control" [ngClass]="{
                      'is-invalid':
                        userForm.get('passwordConfirmation').errors &&
                        userForm.get('passwordConfirmation').touched,
                      'is-valid': !userForm.get('passwordConfirmation').errors
                    }" id="passwordConfirmation" formControlName="passwordConfirmation" />
            <div *ngIf="
                      userForm.get('passwordConfirmation').hasError('passwordMismatch')
                    " class="invalid-feedback">
              {{ 'account.confirmationIncorrect' | translate }}
            </div>
            <div *ngIf="
                      !userForm.get('passwordConfirmation').hasError('passwordMismatch')
                    " class="valid-feedback">
              {{ 'account.confirmationCorrect' | translate }}
            </div>
          </div>
        </div>
      </div>

      <br />

      <div class="d-flex justify-content-center">
        <button class="btn btn-success" type="submit" [disabled]="userForm.invalid || loginStatus !== 'available'">
          {{ 'account.save' | translate }}
        </button>
      </div>

    </form>
  </p-card>
</div>
<br />