<br>
<div class="row d-flex justify-content-center">
    <div class="col-6 d-flex justify-content-center">
        <p-card [style]="{'background-color': '#f8f9fa'}">
            <table>
                <tr>
                    <td><label for="login">{{ 'account.login' | translate }} &nbsp;</label></td>
                    <td><input type="text" id="login" [(ngModel)]="login" />&nbsp;</td>
                </tr>
                <br />
                <tr>
                    <td><label for="password">{{ 'account.password' | translate }} &nbsp;</label></td>
                    <td><input type="password" id="password" [(ngModel)]="password" />&nbsp;</td>
                </tr>
            </table>
            <br />
            <br />
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary" (click)="onSignIn(login, password)">
                    {{ 'account.connection' | translate }}
                </button>
            </div>
        </p-card>
    </div>
</div>
<br>
<div class="row d-flex justify-content-center">
    <div class="col-6 d-flex justify-content-center">
        <div>
            <br />
            <button class="btn btn-primary" routerLink="/register">
                {{ 'account.create' | translate }}
            </button>
        </div>
    </div>
</div>