@import "../node_modules/ngx-toastr/toastr";

.backgroung-config {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.logo {
    background-image: url(../src/assets/images/eagle.png);
}
.logo-config {
    width: 80px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}
.cursor {
    cursor: pointer;
}
.header {
    background-color: rgb(248, 249, 250);
    font-weight: 600;
}
.grabbable {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}
.grabbable:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}
.large {
    font-size: large;
}
.blue {
    color: rgb(0, 123, 255);
}
.blue-cursor {
    color: rgb(0, 123, 255);
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
.blue-cursor:hover {
    color: rgb(94, 172, 255);
    cursor: pointer;
}
.gray {
    background-color: rgb(248, 249, 250);
}
.red {
    color: red;
}
.green {
    color: green;
}
