<br>
<div class="row">
    <div class="col-3">
        <app-side-adjectives *ngIf="masculineNominative" [masculineNominative]="masculineNominative"
            (openPage)="onOpenPage($event)">
        </app-side-adjectives>
    </div>
    <div class="col">
        <section>
            <div class="d-flex align-items-center justify-content-center" id="u">
                <!-- accueil adjectifs -->
                <div class="row" *ngIf="!page.show;else show_page">
                    <h3>
                        {{ 'adjectives.text' | translate }}
                    </h3>
                </div>
                <!-- voir les déclinaisons -->
                <ng-template #show_page>
                    <span *ngIf="masculineNominative" [ngSwitch]="page.type">
                        <div *ngSwitchCase=1>
                            <h2 class="d-flex align-items-center justify-content-center">
                                {{ 'adjectives.declension.first' | translate }}{{ masculineNominative.first }}
                            </h2>
                            <app-declension-category [adjectiveCategory]="getAdjectiveCategory(1)">
                            </app-declension-category>
                        </div>
                        <div *ngSwitchCase=2>
                            <h2 class="d-flex align-items-center justify-content-center">
                                {{ 'adjectives.declension.second' | translate }}{{ masculineNominative.second }}
                            </h2>
                            <app-declension-category [adjectiveCategory]="getAdjectiveCategory(2)">
                            </app-declension-category>
                        </div>
                        <div *ngSwitchCase=3>
                            <h2 class="d-flex align-items-center justify-content-center">
                                {{ 'adjectives.declension.third' | translate }}{{ masculineNominative.third }}
                            </h2>
                            <app-declension-category [adjectiveCategory]="getAdjectiveCategory(3)">
                            </app-declension-category>
                        </div>
                        <div *ngSwitchCase=4>
                            <h2 class="d-flex align-items-center justify-content-center">
                                {{ 'adjectives.declension.fourth' | translate }}{{ masculineNominative.fourth }}
                            </h2>
                            <app-declension-category [adjectiveCategory]="getAdjectiveCategory(4)">
                            </app-declension-category>
                        </div>
                        <div *ngSwitchCase=5>
                            <div *ngIf="!openAdjDeclension;else show_declension">
                                <h2 class="d-flex align-items-center justify-content-center">
                                    {{ 'adjectives.adjectives.consult' | translate }}
                                </h2>
                                <app-adjective-list (openActionMenu)="onOpenActionMenu($event)"></app-adjective-list>
                            </div>
                            <ng-template #show_declension>

                                <h3 *ngIf="actionMenu.rowData" class="d-flex justify-content-center">
                                    {{ actionMenu.rowData.adjective }} : {{ actionMenu.rowData.translation }} 
                                </h3>
                                <app-declension-category *ngIf="adjectiveCategory" [adjectiveCategory]="adjectiveCategory">
                                </app-declension-category>
                                <br>

                            </ng-template>
                        </div>
                        <div *ngSwitchCase=6>
                            <h2 class="d-flex align-items-center justify-content-center">
                                {{ 'adjectives.adjectives.add' | translate }}
                            </h2>
                            <app-add-adjective></app-add-adjective>
                        </div>
                    </span>
                </ng-template>
            </div>
        </section>
    </div>
    <div class="col-3">
        <app-action-menu *ngIf="actionMenu.show" [actionMenu]="actionMenu"
            (openAdjDeclension)="onOpenAdjDeclension($event)">
        </app-action-menu>
    </div>
</div>