<br>
<div class="row">
    <div class="col-3">
        <app-side-adjectives>
        </app-side-adjectives>
    </div>

    <div class="col">
        <section>
            <div class="d-flex align-items-center justify-content-center" *ngIf="_adjectiveCategories.length > 0"
                [ngSwitch]="page">
                <!-- accueil adjectifs -->
                <div *ngSwitchCase="'intro'">
                    <h3>
                        {{ 'adjectives.text' | translate }}
                    </h3>
                </div>
                <div *ngSwitchCase="'first-declension'">
                    <h2 class="d-flex align-items-center justify-content-center">
                        {{ 'adjectives.declension.first' | translate }}
                    </h2>
                    <app-declension-category [adjectiveCategory]="getAdjectiveCategory(1)">
                    </app-declension-category>
                </div>
                <div *ngSwitchCase="'second-declension'">
                    <h2 class="d-flex align-items-center justify-content-center">
                        {{ 'adjectives.declension.second' | translate }}
                    </h2>
                    <app-declension-category [adjectiveCategory]="getAdjectiveCategory(2)">
                    </app-declension-category>
                </div>
                <div *ngSwitchCase="'third-declension'">
                    <h2 class="d-flex align-items-center justify-content-center">
                        {{ 'adjectives.declension.third' | translate }}
                    </h2>
                    <app-declension-category [adjectiveCategory]="getAdjectiveCategory(3)">
                    </app-declension-category>
                </div>
                <div *ngSwitchCase="'fourth-declension'">
                    <h2 class="d-flex align-items-center justify-content-center">
                        {{ 'adjectives.declension.fourth' | translate }}
                    </h2>
                    <app-declension-category [adjectiveCategory]="getAdjectiveCategory(4)">
                    </app-declension-category>
                </div>
                <div *ngSwitchCase="'consult'">

                    <h2 class="d-flex align-items-center justify-content-center">
                        {{ 'adjectives.adjectives.consult' | translate }}
                    </h2>
                    <app-adjective-list></app-adjective-list>

                    <div class="d-flex justify-content-center align-items-start">
                        <span class="p-float-label">
                            <input id="search" type="text" pInputText [(ngModel)]="translation">
                            <label for="search">{{ 'adjectives.adjectives.search' | translate
                                }}</label>
                        </span>
                        &nbsp;
                        <button pButton type="button" class="p-button-outlined p-button-raised p-button-rounded"
                            icon="pi pi-search" (click)="searchAdjective()"></button>
                    </div>
                </div>
                <div *ngSwitchCase="'check'">
                    <h3 class="d-flex justify-content-center">
                        {{ selectedRow?.adjective }}
                    </h3>
                    <app-declension-category [adjectiveCategory]="adjectiveCategory">
                    </app-declension-category>
                    <br>
                </div>
                <div *ngSwitchCase="'not-found'">
                    <app-adjective-not-found>
                    </app-adjective-not-found>
                    <br>
                </div>
                <div *ngSwitchCase="'add'">
                    <h2 class="d-flex align-items-center justify-content-center">
                        {{ 'adjectives.adjectives.add' | translate }}
                    </h2>
                    <app-add-adjective></app-add-adjective>
                </div>
                <div *ngSwitchCase="'update'">
                    <h2 class="d-flex align-items-center justify-content-center">
                        {{ 'adjectives.adjectives.update' | translate }}
                    </h2>
                    <app-update-adjective></app-update-adjective>
                </div>
            </div>
        </section>
    </div>

    <div class="col-3">
        <app-action-menu *ngIf="displayActionMenu()">
        </app-action-menu>
    </div>
</div>
