<br>
<br>
<div class="row d-flex justify-content-center">
    <div class="col-6">
        <p-card [style]="{'background-color': '#f8f9fa'}">
            <div class="d-flex justify-content-center">
                <div *ngIf="_player">
                    <div class="row d-flex justify-content-center">
                        <img [src]="_player.imageUrl" alt="Avatar" style="width:20%;height:20%;">
                    </div>
                    <br>
                    <div class="row d-flex justify-content-center">
                        <h3>
                            {{ 'home.title' | translate }} {{ _player.login }}
                        </h3>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
    <br>
</div>